{% extends 'base.html.twig' %}

{% block title %}Episode #
	{{ episode.number }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">
				{{ program.title }}
			</h1>
			<h3 class="mt-0">
				Saison
				{{ season.number }}
			</h3>
			<p>Episode
				{{ episode.number }}
				:
				{{ episode.title }}</p>
			<p>Résumé :<br>
				{{ episode.synopsis }}</p>
		</div>
	</div>

	{% if app.user %}
		<h1>Ajouter un avis</h1>

		<div class="row m-5">
			<div class="col-6">
				{{ form(form) }}
				</div>
			</div>
		{% endif %}

		<h1>Avis sur l'épisode</h1>
		<ul>
			{% for comment in episode.comments|sort|reverse %}
				<li>{{comment.comment}}
					- rate :
					{{comment.rate}}/10</li>
			{% endfor %}
		</ul>

		<a href="{{ path("program_season_show", { slug: program.slug , season: season.id }) }}">
			Retour à la liste des épisodes
		</a>

	{% endblock %}
